body {
    background-color: #00111C;
    font-family: Inter, sans-serif;
    margin: 0;
}

.login-container {
    width: 25vw;
    margin: auto;
    margin-top: 20vh;
    text-align: center;
}

.login-header {
    font-size: 20px;
    margin-bottom: 10vh;
}

.login-label {
    color: white;
    display: block;
    text-align: left;
    margin: 2vh 0 10px;
    font-size: 18px;
}

.login-input {
    width: 100%;
    padding: 8px;
    padding-left: 15px;
    background: #002E4E;
    border-radius: 30px;
    border: 1px solid #ffffff;
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
}

.login-submit {
    margin-top: 30px;
    width: 9.7vw;
    height: 50px;
    background: #0D9CFF;
    color: white;
    border: none;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
}

.login-submit:hover {
    background-color: #80CCFF;
}
