body {
    background-color: #00111C;
    font-family: Inter, sans-serif;
    margin: 0;
}

.container {
    width: 100%;
}

.tab-container {
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

.tab-button {
    width: 300px;
    border: none;
    padding-top: 15px;
    padding-bottom: 15px;
    background: #002E4E;
    font-size: 24px;
    margin: 0;
    cursor: pointer;
    color: white;
}

.tab-button.active {
    background: #0D9CFF;
}

#tab-movies {
    border-bottom-left-radius: 35px;
    border-top-left-radius: 35px;
}

#tab-platforms {
    border-bottom-right-radius: 35px;
    border-top-right-radius: 35px;
}

.util-list {
    width: 90%;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    gap:50px;
}

.buttons-container {
    flex: 0 0 30%;
    display: flex;
    gap: 50px;
}

.util-button {
    flex: 1;
    background: #0D9CFF;
    color: white;
    border: none;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    cursor: pointer;
    padding-top: 15px;
    padding-bottom: 15px;
}

.util-button:hover {
    background-color: #80CCFF;
}


.search-container {
    flex: 0 0 calc(70% - 40px);
    display: flex;
    justify-content: space-between;
}

.search-container input[type="search"] {
    width: 100%;
    height: 50px;
    border-radius: 30px;
    border: 1px solid #ffffff;
    background: #002E4E url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%23ffffff"><circle cx="7" cy="7" r="5" stroke="%23ffffff" stroke-width="2" fill="none"/><line x1="11" y1="11" x2="15" y2="15" stroke="%23ffffff" stroke-width="2"/></svg>')
        no-repeat 15px center;
    background-size: 2.08vh;
    padding-left: 50px;
    color: white;
    font-size: 24px;
}

.item-list {
    width: 90%;
    margin: auto;
    padding: 0;
    list-style: none;
}

.item {
    background: #002E4E;
    width: 100%;
    height: 75px;
    font-size: 24px;
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    color: white;
}

a {
    text-decoration: none;
    color: inherit;
}

.item:hover {
    background: #003a65;
    cursor: pointer;
}

.hidden {
    display: none;
}

.round-checkbox {
    position: relative;
    margin-left: 20px;
}

.round-checkbox label {
    background-color: #002E4E;
    border: 3px solid #fff;
    border-radius: 50%;
    cursor: pointer;
    height: 28px;
    left: 0;
    position: absolute;
    top: 0;
    width: 28px;
}

.round-checkbox label:after {
    border: 3px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 7px;
    opacity: 0;
    position: absolute;
    top: 8px;
    transform: rotate(-45deg);
    width: 12px;
}

.round-checkbox input[type="checkbox"] {
    visibility: hidden;
}

.round-checkbox input[type="checkbox"]:checked + label {
    background-color: #0D9CFF;
    border-color: #fff;
}

.round-checkbox input[type="checkbox"]:checked + label:after {
    opacity: 1;
}
