body {
    background: white;
    font-family: Inter, sans-serif;
    margin: 0;
}

.container {
    width: 100%;
}

.topbar {
    background: #D9D9D9;
    padding: 25px 0;
    font-size: 32px;
    text-align: center;
}

.tab-container {
    display: flex;
    justify-content: flex-start;
}

.tab-button {
    border: none;
    padding: 15px 70px;
    background: #D9D9D9;
    font-size: 20px;
    margin: 0;
    cursor: pointer;
}

.util-list {
    width: 90%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    gap:50px;
}

.buttons-container {
    flex: 0 0 30%;
    display: flex;
    gap: 50px;
}

.util-button {
    flex: 1;
    padding: 15px 15px;
    border: none;
    border-radius: 4px;
    background: #D9D9D9;
    font-size: 32px;
    cursor: pointer;
}

.util-button:hover {
    background-color: #cccccc;
}

.search-container {
    flex: 0 0 calc(70% - 50px);
    display: flex;
}

.search-wrapper {
    width: 100%;
    position: relative;
}

.search-icon {
    font-family: "Material Symbols Outlined";
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #000;
    font-size: 30px;
    font-weight: bold;
}

.searchbar {
    width: 100%;
    background: #D9D9D9;
    border: 1px solid #aaa;
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    font-size: 24px;
    box-sizing: border-box;
}

.item-list {
    width: 90%;
    margin: auto;
    padding: 0;
    list-style: none;
}

.item {
    background: #D9D9D9;
    width: 100%;
    height: 75px;
    font-size: 24px;
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
}

.item:hover {
    background-color: #cccccc;;
    cursor: pointer;
}

.tab-button.active {
    background: #bbb;
}

.hidden {
    display: none;
}

.round-checkbox {
    position: relative;
    margin-left: 20px;
}

.round-checkbox label {
    background-color: #fff;
    border: 3px solid #000;
    border-radius: 50%;
    cursor: pointer;
    height: 28px;
    left: 0;
    position: absolute;
    top: 0;
    width: 28px;
}

.round-checkbox label:after {
    border: 3px solid #000;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 7px;
    opacity: 0;
    position: absolute;
    top: 8px;
    transform: rotate(-45deg);
    width: 12px;
}

.round-checkbox input[type="checkbox"] {
    visibility: hidden;
}

.round-checkbox input[type="checkbox"]:checked + label {
    background-color: #bbb;
    border-color: #bbb;
    border: 3px solid #000;
}

.round-checkbox input[type="checkbox"]:checked + label:after {
    opacity: 1;
}
