* {
    box-sizing: border-box;
    margin: 0;
}


body{
    background-color: #00111C;
}


/* search section */

.search-section {
    width: 62.4vw;
    height: 50px;
    margin: 70px 17.3vw;
    display: flex;
    justify-content: space-between;
    /* margin-left: 17.3vw; */
}

.search-section input[type="search"] {
    width: 51.2vw;
    height: 50px;
    border-radius: 30px;
    border: 1px solid #ffffff;
    background: #002E4E url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%23ffffff"><circle cx="7" cy="7" r="5" stroke="%23ffffff" stroke-width="2" fill="none"/><line x1="11" y1="11" x2="15" y2="15" stroke="%23ffffff" stroke-width="2"/></svg>') 
        no-repeat 15px center;
    background-size: 2.08vh;
    padding-left: 40px;
    color: wheat;
}

.search-button {
    width: 9.7vw;
    /* width: 170px; */
    height: 50px;
    background: #0D9CFF;
    color: white;
    border: none;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
}

button:hover {
    background-color: #80CCFF;
}



/* categories section */


/* categories and "special" (fav, mop) separate */

.selection-section-mobile {
    display: none;
}

.selection-section {
    width: 86.11vw;
    margin: 50px auto;
}

.categories {
    width: 86.11vw;
    display: flex;
    margin-bottom: 1.0vw;
}

.normal-buttons {
    width: 80.63vw;
    display: flex;
    flex-wrap: wrap;
    gap: 1.0vw;
}

.small-buttons {
    display: flex;
    flex-direction: row;
    gap: 0.69vw;
    margin-left: 1.3vw;
}

.normal-button {
    /* width: 9.66vw; */
    width: 184px;
    height: 50px;
    background: #0D9CFF;
    color: white;
    border: none;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
}

.small-button {
    width: 100px;
    height: 4.9vh;
    background: #0D9CFF;
    color: white;
    border: none;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.normal-button.selected, .small-button.selected {
    background-color: #215b82;
    box-shadow: inset -0.1rem 0.1rem 1rem #00000085;
}





/* all together */


/* 
.selection-section {
    width: 86.11vw;
    margin: 50px auto;
}

.categories {
    width: 86.11vw;
    display: flex;
    flex-wrap: wrap;
}

.normal-button {
    width: 183px;
    height: 50px;
    background: #0D9CFF;
    color: white;
    border: none;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    margin-right: 1.1vw;
    margin-bottom: 1.1vw;
}


.normal-button:last-child {
    margin-right: 0;
}

.last-button {
    margin-right: 0;
}

.small-button {
    width: 100px;
    height: 4.9vh;
    background: #0D9CFF;
    color: white;
    border: none;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#favourite-button {
    margin-left: 1.58vw;
}

#clear-button {
    margin-left: 0.69vw;
} */



  /* Container */
  .custom-select-wrapper {
    position: relative;
    /* width: 9.66vw; */
    width: 183px;
    height: 50px;
    font-family: sans-serif;
    text-align: center;
  }

  /* Main select box */
  .custom-select {
    /* width: 9.66vw; */
    width: 183px;
    height: 50px;
    padding: 10px;
    border-radius: 25px;
    cursor: pointer;
    background-color: #0D9CFF;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* Options dropdown */
  .custom-options {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border-radius: 0 0px 10px 10px;
    background-color: #0D9CFF;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    max-height: 150px;
    overflow-y: auto;
    display: none;
    z-index: 1000;
    color: white;
  }

  .custom-options div {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #fff;
  }

  .custom-options div:last-child {
    border-bottom: none;
  }

  .custom-options div:hover {
    background-color: #0a5891;
  }

  .custom-select-wrapper.open .custom-select {
    border-radius: 25px 25px 0px 0px;
  }

  /* Active/open state */
  .custom-select-wrapper.open .custom-options {
    display: block;
  }


/* .small-buttons {
    display: flex;
    gap: 10px;
    align-items: start;
    background-color: aqua;
} */


/* .selection-section form {
    width: 150px;
    background-color: aquamarine;
}

.selection-section select {
    background-color: #0D9CFF;
    color: white;
}

#sort {
    width: 100%;
    height: 45px;
    border-radius: 20px;
    border: 1px solid #aaa;
    padding-left: 10px;
} */



/* .selection-section {
    margin: 0 auto;
    width: 90%;
    display: block;
}

.categories {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 12px;
}

.normal-button {
    height: 50px;
    background: #0D9CFF;
    color: white;
    border: none;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.small-button {
    width: 50px;
    height: 50px;
    background: #0D9CFF;
    color: white;
    border: none;
    border-radius: 25px;
}*/



/* .normal-button {
    background-color: #0D9CFF;
    border-radius: 20px;
    width: 125px;
    height: 40px;
    color: white;
}

.small-button {
    background-color: #0D9CFF;
} */



/* movies  */

.movies-container {
    width: 86.11vw;
    margin: 0 auto;
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(206px, 1fr)); */
    /* grid-template-columns: repeat(auto-fit, minmax(190px, max-content)); */

    grid-template-columns: repeat(auto-fill, 190px);
    justify-content: space-between;
}

.movie-container a {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.movie-banner {
    width: 190px;
    aspect-ratio: 3 / 4;
    background: #4A90E2;
    border-radius: 10px;
}

.movie-info {
    color: white;
    text-align: center;
    margin-top: 8px;
    font-family: "Anton", sans-serif;
}



/* phone layout  */

@media only screen and (max-width: 768px) {
    .selection-section {
        display: none;
    }

    .selection-section-mobile {
        width: 95vw;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .categories-mobile {
        display: flex;
        justify-content: space-between;
        gap: 1.0vw;
        margin-bottom: 1.2vw;
    }

    .movies-container {
        width: 95vw;
        grid-template-columns: repeat(2, 1fr);
    }
    .movie-baner {
        width: 46vw;
        aspect-ratio: 3 / 4;
    }
    .search-section {
        margin: 30px auto;
    }
    #sort-select {
        float: left;
    }
    .custom-select-wrapper, .custom-select, .normal-button {
        width: 31.5vw;
    }
    .search-button {
        width: 50vw;
    }
    .banner-text p {
        display: none;
    }


}