<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}PlusFlix - zaloguj{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/admin-login.css') }}">
        <link rel="stylesheet" href="{{ asset('css/banner.css') }}">
    {% endblock %}

</head>
<body>
    <header>
        {% include 'admin/banner-admin.html.twig' %}
    </header>

    <div class="login-container">
{#        <h1 class="login-header">PANEL ADMINISTRATORA</h1>#}

        <form method="post" action="{{ path('admin_login') }}">
            <label class="login-label" for="login">Login</label>
            <input class="login-input" type="text" id="login" name="login">

            <label class="login-label" for="password">Hasło</label>
            <input class="login-input" type="password" id="password" name="password">

            <button class="login-submit" type="submit">ZALOGUJ</button>
        </form>

        {% if error is defined %}
            <script>alert("{{ error }}");</script>
        {% endif %}
    </div>
</body>
</html>
